/*main content*/
#main_content {
	top: 75px; left: 0;
	margin-top: 5px;
	position: relative;
	width: 100%;
	height: 85%;
	background-color: #E6E6E6;
}

#main_content .left_section_box {
	border: thin solid black;
	position: absolute;
	top: 0.5%; left: 0;
	width: 200px;
	height: 99%;
	background-color: #ffffff;
	z-index:1;
}

.left_section_box .graph_section_box {
	position: absolute;
	bottom: 0; left: 0;
	width: 100%;
	height: 30%;
}

.graph_section_box .graph {
	text-align: center;
	vertical-align : middle;
}

/*temp*/
#main_content .left_section_box2 {
	position: absolute;
	top: 0.5%; left: 0;
	width: 300px;
	height: 99%;
	background-color: #ffffff;
	z-index:2;
}

.left_section_box2 .info_date {
	width: 100%;
	height: 40px;
	border: thin solid black;
	margin-bottom: 5px;
}

.left_section_box2 .info_graph {
	width: 100%;
	height: 30%;
	border: thin solid black;
	margin-bottom: 5px;
}

.left_section_box2 .info_history {
	width: 100%;
	height: 30%;
	border: thin solid black;
	margin-bottom: 5px;
}

.left_section_box2 .info_service {
	width: 100%;
	height: 30%;
	border: thin solid black;
	margin-bottom: 5px;
}

/*temp*/

/*tree part*/
.left_section_box .tree_section_box {
	position: absolute;
	top: 0; left: 0;
	overflow-y: auto;
	width: 100%;
	height: 70%;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 25px;
	color: #666;
	white-space: nowrap;
	text-align: left;
}

.tree_section_box .tree{
	position: absolute;
	top: 0; left: 0;
	padding: 10px 10px 10px 10px;
}
.tree_section_box img {
	border: 0px;
	vertical-align: middle;
}
.tree_section_box a {
	color: #333;
	text-decoration: none;
}
.tree_section_box a.node, .tree_section_box a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.tree_section_box a.node:hover, .tree_section_box a.nodeSel:hover {
	color: #333;
	text-decoration: underline;
}
.tree_section_box a.nodeSel {
	background-color: #c0d2ec;
}
.tree_section_box .clip {
	overflow: hidden;
}

/* map part*/
#main_content .map_section_box {
	border: thin solid black;
	position: absolute;
	top: 0.5%; right: 0.1%;
	width: 990px;
	height: 99%;
	background-color: #ffffff;
}

/* footer*/
#footer {
	top: 80px; left: 0;
	position: relative;
	width: 100%;
	height: 50px;
	color: white;
}

html, body {
	height: 99.7%;
	margin: 0;
	padding: 0;
}

/* Search Box */ 
#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-right: 15px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 200px;
}

.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input:focus {
	border-color: #4d90fe;
}

.pac-container {
	font-family: Roboto;
}

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

.map_section_box .color-interpolation {
	margin-bottom: 10px;
    width: 150px;
    height: 20px;
    background: -webkit-linear-gradient(left, lime , red);
    border: solid 2px #000;
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
