html , body {
	height: 99.7%;
	margin: 0;
	padding: 0;
}

.container{
	padding: 0 0 0 300px; /*ì™¼ìª½ ì¹¼ëŸ¼ ì˜ì—­ì„ í™•ë³´í•˜ê¸° ìœ„í•œ íŒ¨ë”© */
}

/*main content*/
#main_content {
	top: 75px; 
	position: relative;
	height: 85%;
	background-color: #E6E6E6;
}

/* initialize */
.left_section_box_init{
	float:left;
	width: 300px;
	margin-right:-300px;
	position:relative;
	left:-300px;
	height: 99%;
	background-color: #ffffff;
}

.init_info{
	height: 14%;
	border: thin solid black;
}

.init_info_sub {
	overflow: hidden;
}

.init_info_sub img{
	float: left;
	width: 40px;
	height: 40px;
	padding: 10px;
}

.init_info_sub h2{
	padding: 10px;
	float: left;
}

.init_info ul {
	list-style: none;
	text-align: left;
	margin-left: 20px;
}


/*temp*/
#main_content .left_section_box_report {
	float:left;
	width: 300px;
	margin-right:-300px;
	position:relative;
	left:-300px;
	height: 99%;
	background-color: #ffffff;
}

.left_section_box_report .info_date {
	width: 100%;
	height: 4%;
	border: thin solid black;
	margin-bottom: 2px;
}

.left_section_box_report .service_count {
	width: 100%;
	height: 8%;
	border: thin solid black;
	margin-bottom: 2px;
}
.left_section_box_report .checkBox {
	float:left;
	margin-left:7%;
	margin-top:8%;
}
.info_wrapper{
	float:left;
	width:33.3%;
	height:100%
	margin-top:5px;
}

.checkbox_text{
	float:left;
	text-align:left;
	margin-top:5%;
	margin-left:5%;
}
.left_section_box_report .info_graph {
	width: 100%;
	height: 25%;
	border: thin solid black;
	margin-bottom: 2px;
}

.left_section_box_report .info_history {
	width: 100%;
	height: 25%;
	border: thin solid black;
	margin-bottom: 2px;
}

.left_section_box_report .info_service {
	width: 100%;
	height: 37%;
	border: thin solid black;
	margin-bottom: 2px;
}

.left_section_box_report .info_service .info_leak {
	width: 100%;
	height: 33.33%;
	margin-bottom: 5px;
}

.left_section_box_report .info_service .info_leak .leak_text {
	width: 100%;
	height: 15%;
	margin-bottom: 5px;
}

.left_section_box_report .info_service .info_leak .leak_graph {
	width: 100%;
	height: 85%;
	margin-bottom: 5px;
}

.left_section_box_report .info_service .info_absence {
	width: 100%;
	height: 33.33%;
	margin-bottom: 5px;
}

.left_section_box_report .info_service .info_absence .absence_text {
	width: 100%;
	height: 15%;
	margin-bottom: 5px;
}

.left_section_box_report .info_service .info_absence .absence_graph {
	width: 100%;
	height: 85%;
	margin-bottom: 5px;
}

.left_section_box_report .info_service .info_freezed {
	width: 100%;
	height: 33.33%;
	margin-bottom: 5px;
}

.left_section_box_report .info_service .info_freezed .freeze_text {
	width: 100%;
	height: 15%;
	margin-bottom: 5px;
}

.left_section_box_report .info_service .info_freezed .freeze_graph {
	width: 100%;
	height: 85%;
	margin-bottom: 5px;
}

.left_section_box_report .info_graph .leak_icon {
	width: 100%;
	height: 45%;
	border: thin solid black;
	margin-bottom: 5px;
}

.left_section_box_report .info_graph .leak_info {
	width: 100%;
	height: 45%;
	margin-bottom: 5px;
}

.left_section_box_report .info_history .freeze_icon {
	width: 100%;
	height: 45%;
	border: thin solid black;
	margin-bottom: 5px;
}

.left_section_box_report .info_history .freeze_info {
	width: 100%;
	height: 45%;
	margin-bottom: 5px;
}

/* map part*/

#main_content .map_section_box {
	float:right;
	width: 100%;
	height: 99%;
	background-color: #ffffff;
}

#map_canvas {
	width:79%;
	height:100%;
	background-color: #ffffff
	display:block;
	
}

/* footer*/
#footer {
	top: 80px; left: 0;
	position: relative;
	width: 100%;
	height: 50px;
	color: white;
}


.map_controll_box{
	height: 5%;
	width: 100%;
	overflow:hidden;
	z-index:100;
	/* width:100px; */
	position: relative;
}
/* Search Box */ 
.wrapper_search_box{
	padding:6px;
	width:20%;
	overflow:hidden;
	margin-left: 10px;
	float: left;
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 80%;
	height:30px;
	float:left;
}

.controls {
	margin-top: 10px;
	border: 0px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
}

#pac-input:focus {
	border-color: #4d90fe;
}

.pac-container {
	font-family: Roboto;
}

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}
.search_button{
	float:left;
	width:20%;
	height:32px;
}


/* Address Label */
#address_label {
	float:left;
	overflow:hidden;
	width:120px;
	z-index:100;
}
#address_label select {
  margin-top: 10px;
  width:100px;
}

#address_label ul li {
	z-index:100;
}

/* icon */
.icon{
	margin-left:2%;
	margin-top:1.3px;
	float:left;
	overflow:hidden;
	width:50px;
	height:30px;
	border-color:solid 1px #FFFFFF;
}
.img_icon{
	width:100%;
	height:100%;
}
.img_icon :ACTIVE{
	background-color: #071918;
}
.img_entire {
	background-image: url("../img/combine.png");
	background-size:100% 100%;
}

.img_leak {
	background-image: url("../img/leak.png");
	background-size:100% 100%;
}

.img_freezed {
	background-image: url("../img/freezed.png");
	background-size:100% 100%;
}

.img_absence {
	background-image: url("../img/absence.png");
	background-size:100% 100%;
}

.img_reverse {
	background-image: url("../img/reverse.png");
	background-size:100% 100%;
}

.img_fat {
	background-image: url("../img/fat.png");
	background-size:100% 100%;
}

.img_breakage {
	background-image: url("../img/breakage.png");
	background-size:100% 100%;
}



.selected {
	background-color: yellow;
}

.map_section_box .color-interpolation {
	margin-bottom: 10px;
    width: 150px;
    height: 20px;	
    border: solid 2px #000;
	
	background: lime;
    background: -webkit-linear-gradient(left, lime, red);
    background: -moz-linear-gradient(left, lime, red);
    background: -ms-linear-gradient(left, lime, red);
    background: -o-linear-gradient(left, lime, red);
    background: linear-gradient(left, lime, red);
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
