#report_content {
	position: relative;
	height: 100%;
	/*background-color: white;*/
}


.report_info{
	width: 100%;
	height: 100px;
	border: 1px solid #d3d3d3;
	margin-bottom: 5px;
}

.report_info_data{
	overflow: hidden;
	height: 35%;
}

.report_info_list {
	float: left;
	width: 25%;
	border-right: 1px solid #d3d3d3;

}

.report_info_list ul li {
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
	border-bottom: 1px solid #d3d3d3;
	list-style: none;
}
.report_history_graph {
	float: left;
	width: 74%;
}


/* graph*/
.report_info_row2 {
	width: 100%;
	height: 40%;
	margin-bottom: 10px;
	overflow: hidden;
}

.report_info_row2_wrap {
	width: 49.5%; 
	overflow: hidden;
}

.report_info_row2_wrap_left { float: left; }
.report_info_row2_wrap_right { float: right; }

.report_info_ele {
	width: 48%;
} 

.report_info_graph {float: left;}
.report_service_leak { float: right; }

.report_service_absence { float: left; }
.report_service_freezed { float: right;}

/*new*/

.tab_visible {
	display: block;
}

.tab_nonvisible {
	display: none;
}

.searchBy {
	overflow: hidden;
}

.searchBy a{
	color: black;
}
.tab_searchBy {
	float: left;
	padding: 0 10px 0 10px;
}

.searchBy_searchbox {
	width: auto;
}

.data_view {
	height: 700px;
	overflow: auto;
	
}



/*new*/
/* report tables */
table.reportTable {
   font-family:arial;
   background-color: #C1CDCD;
   margin:10px 0pt 15px;
   font-size: 9pt;
   width: 100%;
   text-align:center;
}
table.reportTable thead tr th, table.reportTable tfoot tr th {
   background-color: #e6EEEE;
   border: 1px solid #FFF;
   font-size: 8pt;
   padding: 4px;
   white-space: nowrap;
}
table.reportTable thead tr .header {
   background-repeat: no-repeat;
   background-position: center right;
   cursor: pointer;
}
table.reportTable tbody td {
   color: #3D3D3D;
   padding: 4px;
   background-color: #FFF;
   vertical-align: top;
   white-space: nowrap;
}
table.reportTable tbody tr.odd td {
   background-color:#F0F0F6;
}

table.reportTable thead tr .headerSortDown, table.reportTable thead tr .headerSortUp {
background-color: #8dbdd8;
}


/* Analysis tables */
table.AnalysisTable {
   font-family:arial;
   background-color: #C1CDCD;
   margin:10px 0pt 15px;
   font-size: 9pt;
   width: 100%;
   text-align:center;
}
table.AnalysisTable thead tr th, table.AnalysisTable tfoot tr th {
   background-color: #e6EEEE;
   border: 1px solid #FFF;
   font-size: 8pt;
   padding: 4px;
   white-space: nowrap;
}
table.AnalysisTable thead tr .header {
   background-repeat: no-repeat;
   background-position: center right;
   cursor: pointer;
}
table.AnalysisTable tbody td {
   color: #3D3D3D;
   padding: 4px;
   background-color: #FFF;
   vertical-align: top;
   white-space: nowrap;
}
table.AnalysisTable tbody tr.odd td {
   background-color:#F0F0F6;
}

table.AnalysisTable thead tr .headerSortDown, table.AnalysisTable thead tr .headerSortUp {
background-color: #8dbdd8;
}



/* footer*/
#footer {
	width: 100%;
	height: 100px;
	color: white;
}